# MongoDB 配置文件 (由 fast-agent 自动生成)

# 数据存储路径
storage:
  dbPath: E:/code/fast-agent/mongod/data

# 日志配置
systemLog:
  destination: file
  logAppend: true
  path: E:/code/fast-agent/mongod/log/mongod.log

# 网络配置
net:
  port: 27017
  bindIp: 127.0.0.1
